<!DOCTYPE html>
<html lang="en">

<head>
  <title>User profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <script src="https://kit.fontawesome.com/2bfd122b18.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/user-profile.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/home-page.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <h1>My profile</h1>
      <br><br>
      <div class="profile-layout">
        <div class="user-quizzes">
          <h2>Private Quizzes</h2>
          <br><br>
          <div class="private-quiz-container">
            <% for (let quiz of quizzes) { %>
              <% if (!quiz.public) { %>
                <div class="card-profile">
                  <div class="card-body">
                    <h3 class="card-title"><%= quiz.title %></h3>
                    <p class="card-text"><%= quiz.description %></p>
                    <a href="/quizzes/quiz/<%= quiz.id %>" class="primary-button">View the Quiz</a>
                  </div>
                </div>
             <% } %>
            <% } %>
          </div>
          <br><br>
          <h2>Public Quizzes</h2>
          <br><br>
          <div class="public-quiz-container"></div>
           <% for (let quiz of quizzes) { %>
            <% if (quiz.public) { %>
              <div class="card-profile">
                <div class="card-body">
                  <h3 class="card-title"><%= quiz.title %></h3>
                  <p class="card-text"><%= quiz.description %></p>
                  <a href="/quizzes/quiz/<%= quiz.id %>" class="primary-button">View the Quiz</a>
                </div>
              </div>
              <% } %>
            <% } %>
        </div>
        <div class="user-profile">
          <img class="profile-img" src="/docs/Profile-Male.png" alt="profile image">
          <h2>Hello <%= name %></h2>


          <br><br>
          <div class="quiz-info">
            <div class="info-container">
              <label class="big-number"><%= attempts.total_attempts %></label>
              <h3>quiz attempted</h3>
            </div>
            <div class="info-container">
              <label class="big-number"><%= total_quizzes.total_quizzes %> </label>
              <h3>quizzes created</h3>
            </div>
          </div>
          <br><br>
          <div class="average-score">
            <label class="score"><%= attempts.avg_score %></label>
            <h3 class="avg">average score</h3>
          </div>
          <!-- <h2>Hello <%= name %></h2>
          <h3>Completed quizzes</h3>
          <h3>Open quizzes</h3> -->
        </div>
      </div>
      </form>
    </main>
    <%- include('partials/_footer') %>
</body>

</html>
