<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/view-a-quiz.css" />

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/attempt-a-quiz.js"></script>

  <title>View Quiz</title>
</head>

<body>
  <%- include('partials/_header') %>

    <main>
      <h1><%= quizzes[0].title %></h1>
      <p><%= quizzes[0].description %></p>


      <% for (let quiz of quizzes) { %>
        <form action ="/quizzes/quiz_attempts?quiz_id=<%= quizzes[0].quizid %>" method="POST" id="attempt-quiz-form">


          <Ul class="quiz">
            <Li>
              <H4 class="quiz-question">
                <%= quiz.question_text %>
              </H4>
              <Ul class="choices">
                <Li>
                  <Label><Input type="Radio" name="<%= quiz.id %>" value="<%= quiz.option_1 === quiz.correct_answer %>" /><Span>
                      <%= quiz.option_1 %>
                    </Span></Label>
                </Li>
                <Li>
                  <Label><Input type="Radio" name="<%= quiz.id %>" value="<%= quiz.option_2 === quiz.correct_answer %>" /><Span>
                      <%= quiz.option_2 %>
                    </Span></Label>
                </Li>
                <Li>
                  <Label><Input type="Radio" name="<%= quiz.id %>" value="<%= quiz.option_3 === quiz.correct_answer %>" /><Span>
                      <%= quiz.option_3 %>
                    </Span></Label>
                </Li>
              </Ul>
            </Li>
          </Ul>
          <% } %>

            <Button class="view-results" type="submit" >Submit</Button>
          </form>

            <br><br>
            <Button variant="contained" class="primary-button" size="large" onClick="navigator.clipboard.writeText(window.location.href);this.insertAdjacentHTML('afterend', '<div class=linktooltips-container>Link Copied!</div>');setTimeout(() => { document.querySelectorAll('.linktooltips-container').forEach(el => el.remove()); }, 3000);"> Share Quiz With Your Friends! </Button>
     <br><br>

    </main>
    <%- include('partials/_footer') %>
</body>

</html>
